{% extends 'base.html.twig' %}

{% block title %}{{ title|trans }} | {{ parent() }}{% endblock %}
<main class="form">
    <article class="mx-auto text-center p-3 bg-white bg-opacity-75 w-75 rounded-4">
    
    </article>
</main>
{% block main %}
<h2>Page du formulaire d'envoi du fichier à l'API</h2>
{% endblock %}
