@import '~bootstrap';

.content {
    background: url('../../public/img/background/background_min.jpg') no-repeat center center fixed;
    background-size: cover;
}

.main {
    min-height: 39vh;
}

.nav-pills .nav-link.active-tab {
    background-color: transparent;
    color: #0d6efd;
}

.nav-pills .nav-link.active-tab:hover {
    background-color: #0d6efd;
    color: #ffffff;
}

.center-div {
    margin-top: 40vh;
    transform: translateY(-50%);
}

.error {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.logo {
    width: 2rem;
    height: auto;
    margin-right: 4rem;
}

.icon-lang {
    width: 1.5rem;
    height: auto;
    margin: 0.7rem 0rem 0 0rem;
}

h1 {
    color: var(--bs-blue);
}

.alert-error {
    color: #58151c;
    background: #f8d7da;
    border-color: #f1aeb5;
}