<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{% trans %}Home{% endtrans %}</a></li>    
        <span class="chevron">&gt;</span>